:root {
     
     --kermit-color: rgba(13,94,55, 1) !important;
     --footer-background-color: rgba(245,240,240, 1);

}

@font-face{ 
     font-family: 'Kernit-Outline';
     src: url('/webfonts/Kernit-Outline.eot');
     src: url('/webfonts/Kernit-Outline?#iefix') format('embedded-opentype'),
          url('/webfonts/Kernit-Outline.woff') format('woff'),
          url('/webfonts/Kernit-Outline.woff2') format('woff2')
}

@font-face{ 
     font-family: 'Kernit-Filled';
     src: url('/webfonts/Kernit-Filled.eot');
     src: url('/webfonts/Kernit-Filled?#iefix') format('embedded-opentype'),
          url('/webfonts/Kernit-Filled.woff') format('woff'),
          url('/webfonts/Kernit-Filled.woff2') format('woff2')
}

@keyframes pulse_animation {
     0% { transform: scale(1); }
     50% { transform: scale(1.08); }
     100% { transform: scale(1); }
}

body, html {

     height: 100vh;
     width: 100vw;
     width: auto;
     overflow: hidden;
     background-image: url('/resources/sun_.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: 40% 50%;
     font-family: 'Helvetica', 'Open-Sans';


}

#under-construction {

     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: row;
     flex-direction: row;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     margin: 0 auto;

}

/*.blur {

     position: relative;
     height: 100vh;
     width: 100vw;
     background-color: red;
     opacity: 0.75;
     z-index: ;

}*/

/*.fullscreen-video-bg {

     position: relative;
     height: 100vh;
     width: auto;
     overflow: hidden;
     position: absolute;
     left: 50%;
     margin-left: -50px;
     top: 50%;
     margin-top: -50px;

}*/

p {

     margin: 0.25rem;

}

q {

     margin: 2rem 0rem;

}

#application-riddle {

     display: none;
     align-items: center;
     justify-content: center;
     width: 100vw;
     height: 100vh;

}

#pulse > p,
#pulse > q {

     font-size: 0.85rem;
     color: white;

}

p {

     color: white;
     font-size: 1.25rem;

}

@media only screen and (max-width: 767px)  {

     #pulse > p,
     #pulse > q {

          font-size: 1.5vw;

     }

     p,
     q {

          font-size: 3rem;

     }

}

#pulse {

     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     max-width: 60%;
     height: auto;
     margin: 0 auto;
     -webkit-order: 1;
     -webkit-flex: 1;
     -webkit-flex: 0 1 auto;
     text-overflow: ellipsis;
     overflow: hidden;
     min-width: 0px;
     text-align: center;
     text-shadow: 1px 0px 3px #484545;
     position: absolute;
     opacity: 0;
     transition: all 1s ease-in-out;
     -moz-transition: all 1s ease-in-out;
     -webkit-transition: all 1s ease-in-out;

}

#pulse.shown {

     opacity: 1;

}

#pulse p:last-child {

     padding-top: 1.5rem;

}

.footer-content {

     color: rgba(0, 0, 0, 1);
     font-size: 0.75rem;
     width: 100vw;
     border: none;
     background-color: transparent;
     padding: 1.25rem 0rem;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     position: fixed;
     bottom: 0;
         
}

.social-link-wrapper {

     display: flex;
     flex-direction: row;
     align-items: center;

}

.social-link-wrapper a {

     text-decoration: none;
     display: inline-block;

}

.social-link-wrapper a:hover {

     animation-name: pulse_animation;
     animation-duration: 2000ms;
     transform-origin: 60% 60%;
     animation-iteration-count: infinite;
     animation-timing-function: linear;

}

.social-link-wrapper a svg {

     padding: 0rem 0.5rem;
     height: 1.25rem;
     width: auto;

}